# general
.DS_Store

# IDEs
.idea
*.iml

# web application files
/web-app/WEB-INF/classes

# logs
*.log
/test/reports
/logs

# project release file
/*.war

# plugin release files
/*.zip
/*.zip.sha1
/plugin.xml

# older plugin install locations
/plugins
/web-app/plugins

# "temporary" build files
/target
